<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
     <h1 class ="headings">cart</h1>
    <link rel="stylesheet" type="text/css" href = "../static/css/style.css"/>
</head>
<body>
     <div class="btn-group">
  <a href="{{url_for('home_page')}}"><button>Home</button></a>
  <a href="{{url_for('product_page')}}"><button>product</button></a>
  <a href="{{url_for('cart_page')}}"><button>cart</button></a>
    </div> 
    <h1 id="vinyl1"> beerbongs & bentleys </h1>
    <h1 id="vinyl1"> this product is added to your cart </h1>
<img id="vinylbeer" src="http://cdn.shopify.com/s/files/1/0024/9803/5810/products/338250-Product-0-I_757edbcb-6306-4a74-ada2-c5702c41d6e4_1024x1024.jpg">
</body>
</html>