<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <h1 class ="headings"> welcome to bishara's shop </h1>
    <link rel="stylesheet" type="text/css" href = "../static/css/style.css"/>
</head>
<body>
    <div class="btn-group">
  <a href="{{url_for('home_page')}}"><button>Home</button></a>
  <a href="{{url_for('product_page')}}"><button>product</button></a>
  <a href="{{url_for('cart_page')}}"><button>cart</button></a>
    </div> 
    <h2> what do we sell? </h2>
    <li> we sell vinyls.</li>
    <h2> what is a vinyl? </h2>
    <li>  a disc made from heated polyvinyl chloride that has been pressed thin with grooves that produce sound. </li>
</body>
</html>